@keyframes altImageName {

    0%{
        background-image: url(../images/nameImagem1.svg);
    }

    20% {
        background-image: url(../images/nameImagem2.svg);
    }

    40% {
        background-image: url(../images/nameImagem3.svg);
    }

    60% {
        background-image: url(../images/nameImagem4.svg);
    }

    80% {background-image: url(../images/nameImagem5.svg)}

    100% {background-image: url(../images/nameImagem6.svg);}
}

.img_name {
    width: 62px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: altImageName 2s linear infinite alternate;
}

.main_header {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 350px;
    background-color: white;
    z-index: 1;
}

.menu_hamburguer__links.hidden {
    display: none;
}

.menu_hamburguer__links {
    position: absolute;
    margin-top: 40px;
    width: 100px;
    right: 4%;
    text-align: end;
    list-style: none;
    border: 2px solid black;
    background-color: white;
    z-index: 1;
}

.menu_hamburguer__links li{
    margin-bottom: 10px;
    padding: 4%;
}

.menu_hamburguer__links li a {
    text-decoration: none;
    color: black;
}

.links__desktop {
    display: none;
}

.menu_hamburguer--img {
    margin-right: 15px;
}

@media (min-width: 768px) {
    .menu_hamburguer img {
        display: none;
    }
    .links__desktop {
        display: flex;
        gap: 40px;
        margin-right: 8%;
    }

    .links__desktop li,a {
        text-decoration: none;
        list-style: none;
        color: var(--cor-padrao);
        font-size: 1.2rem;
    }

    .img_name {
        width: 90px;
        height: 26px;
    }

    .main_header {
        position: fixed;
        padding: 0 20px;
        width: 100%;
        background-color: white;
        height: 100px;
        align-items: center;
        z-index: 1;
        max-width: 720px;
    }
}

@media (min-width: 1280px) {
    .main_header {
        max-width: 1160px;
    }
}